body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 100%;
    padding-right: 10px;
    padding-left:  10px;
}

/* The side navigation menu */
.sidenav {
    min-height: 590px;
    width: 250px;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: blueviolet;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.offcanvas a:focus,
.sidenav a:hover {
    color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    padding: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /* margin-left: 230px; */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: purple;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: blueviolet;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: purple;
    color: white;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
} */

.kotak {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
