#kepala{
    background-color: lightseagreen;
    color: white;
    font-family: calibri;
    border-radius: 0px;
    margin-bottom: 0px;
}

#utama{
    background-color: lightblue;
}

#bilah-menu{
    background-color: azure;
}

#kotak{
    margin: 5px 0px 2px 2px;
    padding: 5px;
    border-radius: 3px;
    background-color: lightseagreen;
    text-align: center;
}

#kotak:hover{
    color: white;
    text-decoration: none;
    background-color: lightgreen;
    transition: 0.5s;
}

.pilih{
    text-decoration: none;
    color: white;
}