#myTab{
    /* width: 250px; */
    height: auto;
    padding: 5px;
    border: 1px solid #ccc;
}
#myTab #nav{
    height: 26px;
    border-bottom: 1px solid #ccc;
}
#myTab a, #myTab a:hover, #myTab a:visited{
    float: left;
    height: 15px;
    padding: 5px 15px;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    color: #00f;
}
#myTab a:hover{
    background: #eee;
    border: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
#myTab a.active, #myTab a.active:hover{
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    background: #fff;
}
#myTab .isi{
    padding: 10px 0;
}
